.navbar-height{
	height:58px;
}

.navbar-brand {
	margin-top:0px;
	padding-top:5px;
}

.margin-bar {
	margin-top:3px;
	font-size:120%;	
}


.bots-title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5em;
}

.bots-des {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 20px;
    margin-left:20px;
    margin-right:50px;
}

.bots-body li {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-left:30px;
}

@media (max-width: 500px) {
  .navbar-brand img {
    height: 45px;
    width:175px;
  }
}
 

iframe {
    height: 502px; 
    max-height: 502px; 
    width: 525px;
} 

@media (max-width: 520px) {
  iframe {
    width:100%;
  }
}

